#cloud-config

# vim: syntax=yaml

#

# ***********************

# 	---- for more examples look at: ------

# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html

# ******************************

#

# This is the configuration syntax that the write_files module

# will know how to understand. encoding can be given b64 or gzip or (gz+b64).

# The content will be decoded accordingly and then written to the path that is

# provided.

#

# Note: Content strings here are truncated for example purposes.

ssh_pwauth: True

chpasswd:

  list: |

     root:sesamo

  expire: False



users:

  - name: cristianvargas # Change me (nombre del dominio sin .com)

    ssh_authorized_keys:

      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCfpzgeeHFDJUKjICCfu+3uAwoAD38EYwAnPD11bIVWYtd835FwBW9GuK30uZvW5MBUt/BQNoGVWNFCObN7fGEn5rmA0wIW/U/bLEKN5+fP9RZSQ9J6YnLsR+pNGmJLtg6v61UzXG280FSofdK2a68a7D3gkj8V+ySvANvjelHhDoDNMIxhTrZMnN83IXzizHuToApXTWip4GOL6MgUmKXQHqwpCCC3c5mn1hMnUPglLV6JzqIGk8Z8uMEbxUd2xowVo+jyid6ZYepp+92SsZk86YApmbirzeDO78ZN5Ur7lek/8yVpGmLfJq4jzMie0WwbFGMDPmAuxm3RAszkDr2T cristianvargas@cristianvargas

    sudo: ['ALL=(ALL) NOPASSWD:ALL']

    shell: /bin/bash

    groups: sudo

    lock_passwd: false
